<!-- post-meta.html - A reusable template for post metadata -->

{% if post.date or post.processed_tags %}
<div class="post-meta">
    {% if post.date %}<time datetime="{{ post.date|date('%Y-%m-%d') }}">{{ post.date|date(site.date_format) }}{% if post.updated %}, last updated: {{ post.updated|date(site.date_format) }}{% endif %}{% if post.processed_tags %} {{ site.meta_delimiter }}
    {% endif %}</time>{% endif %}
    {% if post.processed_tags %}
    <div class="tags">
        {% for tag in post.processed_tags %}
        <a href="{{ tag.url }}" class="tag">{{ tag.display_name }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
