{% extends "base.html" %}

{% block title %}{{ post.title }} - {{ site.site_title }}{% endblock %}

{% block description %}{{ post.content|regex_replace('<h[1-6][^>]*>.*?</h[1-6]>', '')|striptags|truncate(160)|trim }}{% endblock %}

{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.content|regex_replace('<h[1-6][^>]*>.*?</h[1-6]>', '')|striptags|truncate(160)|trim }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}{{ site.site_url }}{{ post.url }}{% endblock %}

{% block og_image %}
    {% if post.thumbnail %}
    <meta property="og:image" content="{{ site.site_url }}{{ post.thumbnail }}">
    {% endif %}
{% endblock %}

{% block content %}
<article class="post">
    <header class="post-header">
        {% if not post.hide_title %}<h1>{{ post.title }}</h1>{% endif %}
        {% include "post-meta.html" %}
    </header>

    <div class="post-content">
        {{ post.content }}
    </div>

</article>
{% endblock %}
