/* padding syntax:
  padding: top right bottom left;
*/

header {
  padding: 35px 0 30px 0;
}

nav {
  padding-top: 10px;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  max-width: 800px;
  margin: auto;
  padding: 0 20px 40px 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  line-height: 1.5;
  color: #AAA;
  background-color: #151515;
}

a {
  color: #58ACFA;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

pre {
  max-width: 760px;
  color: #58ACFA;
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  text-overflow: clip;
}

pre code {
  color: #58ACFA;
  background: none !important;
}

code {
  background: #58ACFA;
  color: #000000;
}

ul {
  list-style-type: none;
}

footer {
  bottom: 0;
  font-size: 12px;
  text-align: center;
  padding: 60px 0 10px 0;
  position: relative;
}

.header_logo {
  display: flex;
  box-sizing: inherit;
}

.header_logo::after {
  content: "";
  width: 100%;
  flex-shrink: 1;
  background: repeating-linear-gradient(90deg,#58ACFA,#58ACFA 2px,transparent 0,transparent 10px);
}

.logo {
  display: block;
  width: auto;
  flex-shrink: 0;
  background-color: #58ACFA;
}

.logo_text {
  font-size: 24px;
  padding: 0 14px 0 14px;
  color: #000000;
}

.navbar a {
  text-align: center;
  padding-right: 5px;
}